<button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill px-4">
  <i class="fa fa-bars mr-2"></i>
  <small class="text-uppercase font-weight-bolder">Menu</small>
</button>