<!DOCTYPE html>
  <html>
    <head>
      <meta charset='utf-8' />
      <title>Devis</title>
      <%= wicked_pdf_stylesheet_link_tag "pdf", media: 'all' %>
      <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
      <%#= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
      <%#= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
    </head>
    <body>
      <%= yield %>   
    </body>
  </html>